@import "./vars";

.label {
  margin: 0;
  margin-bottom: $spacer;
  cursor: pointer;

  &:hover {
    background-color: rgba(black, 0.05);
  }
}

.checkbox {
  &[type="checkbox"] {
    vertical-align: middle;
    margin: 0;
    margin-bottom: 0;
    margin-right: $spacer / 2;
  }
}
